name: Dev-Test-Prod Pipeline

on:
  push:
    branches:
      - main

jobs:
  dev:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: python dev.py

  test:
    runs-on: ubuntu-latest
    needs: dev
    steps:
      - uses: actions/checkout@v4
      - run: python test.py

  prod:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - run: python prod.py
